.body-bg {
  background-color: #F2FAFE;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  width: 430px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.login-box h2 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: calc(100% - 12px); /* subtracting padding */
  padding: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password,
.register {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password a,
.register a {
  text-decoration: none;
  color: #007bff;
}
