<div class="lk">
    <div class = "leftpanel">
        <app-leftpanel>
        </app-leftpanel>
    </div>
    
    <div class="rightpanel">
        <!-- <div *ngIF="requestspanelopened"> -->
        <!-- <div>
            <app-requestspanel>
            </app-requestspanel>
        </div> -->

        <!-- <div *ngIF="!requestspanelopened"> -->
        <!-- <div>
            <app-requestspanel>
            </app-requestspanel>
        </div> -->


        <div>
            <app-profilepanel>
            </app-profilepanel>
        </div>

    </div>
</div>

