<body class="body-bg">
  <div class="login-container">
      <div class="login-box">
          <div class="login-button">
              <h2>Авторизация костылем</h2>
              <a class="btn btn-primary btn-lg login-button" routerLink="/">Заявка на звонок</a>
              <a class="btn btn-primary btn-lg login-button" routerLink="/1">ЛК абитуриента</a>
              <a class="btn btn-primary btn-lg login-button" routerLink="/">ЛК куратора</a>
              <a class="btn btn-primary btn-lg login-button" routerLink="/">ЛК администратора</a>
          </div>
      </div>
  </div>
</body>
<router-outlet />
