.profile-panel{
    align-items: center;
    position: relative;
    left: 150px;
    top: 80px;
}

.inputs-panel{
    padding: 50px;
    border-radius: 25px;
    background-color: white;

    width: 700px;
    position: relative;

    height: 100%;
    align-items: center;
    display: grid; 
    grid-template-columns: 300px 300px; 
}

.main-label{
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 25px;

}

.input-label{
    width: 100px;
    padding-right: 50px;
    padding-bottom: 15px;
    font-size: 18px;
}
