.profile-panel{
    left: 200px;
    width: 500px;
    align-items: center;
    top: 50%;
}

.inputs-panel{
    left: 200px;

    width: 500px;
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 250px 250px; 
}

.input-label{
    width: 100px;
    padding-right: 50px;
}