<form class="form-horizontal">
<div class="profile-panel">
    <label class="main-label">ПРОФИЛЬ АБИТУРИЕНТА</label><br>

    <div class="inputs-panel">
        <label class="input-label">Фамилия</label><input class="form-control" id="second-name-input"> 
        <label class="input-label">Имя</label><input class="form-control" id="first-name-input">
        <label class="input-label">Отчество</label><input class="form-control" id="middle-name-input">
        <label class="input-label">Дата&nbsp;рождения</label><input class="form-control" id="birthdate-input" type="date">
        <label class="input-label">Номер&nbsp;телефона</label><input class="form-control" id="phone-input" type="tel">
        <label class="input-label">Email</label><input class="form-control" id="email-input" type="email">
        
        <label class="input-label">Место&nbsp;работы</label><input class="form-control" id="job-input">
        <label class="input-label">Должность/&nbsp;статус</label><input class="form-control" id="job-title-input">
        
        <label class="input-label">Паспортные&nbsp;данные</label><input class="form-control" id="passport-details-input">
        <label class="input-label">Скан&nbsp;паспорта</label><input class="form-control" id="passport-scan-input" type="file">
    
        <label class="input-label">Документ&nbsp;об&nbsp;образовании</label><input class="form-control" id="education-details-input">
        <label class="input-label">Скан&nbsp;справки&nbsp;об&nbsp;обучении</label><input class="form-control" id="education-scan-input" type="file">
    
        <label class="input-label">Диплом</label><input class="form-control" id="diploma-details-input">
        <label class="input-label">Скан&nbsp;диплома</label><input class="form-control" id="diploma-scan-input" type="file">
    
        <label class="input-label">Свидетельство&nbsp;о&nbsp;смене&nbsp;фамилии</label><input class="form-control" id="second-name-change-sertificate-details-input">
    
        <label class="input-label">Скан&nbsp;согласия&nbsp;на&nbsp;ОПД</label><input class="form-control" id="opd-scan-input" type="file">
    </div>
</div>
</form>

